<div class="p-10 max-w-6xl mx-auto">
  <mat-card class="p-6 shadow-lg">
    <div class="flex flex-row gap-4 mb-8">
      <button mat-icon-button (click)="back()" color="primary">
            <mat-icon aria-label="Voltar" fontIcon="arrow_back"></mat-icon>
          </button>
    </div>
    <form [formGroup]="form" (ngSubmit)="update()" class="md:flex-row lg:flex-row gap-6">
      <div class="flex gap-4 w-full">
        <!-- Campo name -->
        <div class="mb-8 w-3/5">
          <mat-form-field [hideRequiredMarker]=false class="w-full">
            <mat-label>Nome</mat-label>
            <input matInput type="text"
                  id="name"
                  name="name"
                  formControlName="name"
                  required
            />
          </mat-form-field>
          @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
            <span class="text-red-500 text-sm">
              Campo obrigatório
            </span>
          }
          @if (form.get('name')?.hasError('minlength') && form.get('name')?.touched) {
            <span class="text-red-500 text-sm">
              Esse campo deve ter no mínimo 2 caracteres
            </span>
          }
        </div>

        <!-- Campo value -->
        <div class="mb-8 w-2/5">
          <mat-form-field [hideRequiredMarker]=false class="w-full">
            <mat-label>Preço</mat-label>
            <input matInput type="text"
                  id="value"
                  name="value"
                  formControlName="value"
                  (input)="formatCurrency($event)"
                  placeholder="R$ 0,00"
                  required
            />
          </mat-form-field>
          @if (form.get('value')?.hasError('required') && form.get('value')?.touched) {
            <span class="text-red-500 text-sm">
              Campo obrigatório
            </span>
          }
          @if (form.get('value')?.hasError('min') && form.get('value')?.touched) {
            <span class="text-red-500 text-sm">
              Campo obrigatório
            </span>
          }
        </div>
      </div>
          
        <div class="flex flex-row gap-10 font-semibold text-xl py-4 px-2">
          <!-- Campo maxProduction -->
          <div class="flex gap-4 w-full">
            <div class="mb-8 w-3/5">
              <mat-label>Produção Máxima: <span class="text-orange-700">{{ maxProduction }}</span></mat-label>
            </div>
          </div>

          <!-- Campo totalValue -->
          <div class="flex gap-4 w-full">
            <div class="mb-8 w-3/5">
              <mat-label>Valor Total: <span class="text-orange-700">{{ totalValue | currency: 'BRL' }}</span></mat-label>
            </div>
          </div>
        </div>

      <div *appIfAdmin class="flex justify-end">
        <button mat-flat-button type="submit" color="accent" [disabled]="requiredInputs.length === 0" class="flex justify-end mt-5">
          Atualizar
        </button>

        <button mat-flat-button type="button" (click)="delete()" color="warn" class="flex justify-end mt-5 ml-7">
          Deletar
        </button>
      </div>
    </form>
  </mat-card>

<mat-card class="mt-8">
  <!-- Lista de insumos -->
  <div class="flex gap-6 shadow-lg rounded-xl p-6 bg-gray-100 flex flex-col lg:flex-row">
    <form [formGroup]="inputsForm" (ngSubmit)="update()" *appIfAdmin class="flex flex-col lg:flex-row">
      <div class="flex flex-col gap-4">
        <!-- Campo selection -->
        <div class="mb-3">
          <mat-form-field class="w-full">
            <mat-label>Insumo</mat-label>
            <input matInput
              type="text"
              id="selectedInput"
              name="selectedInput"
              formControlName="selectedInput"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="displayInput"
              (optionSelected)="onInputSelected($event.option.value)"
            >
              @for (input of filteredInputs; track input) {
                <mat-option [value]="input">{{ input.name }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <!-- Campo amount -->
        <div class="mb-3">
          <mat-form-field class="w-full">
            <mat-label>Quantidade (g)</mat-label>
            <input matInput 
                  type="text"
                  id="inputAmout"
                  name="inputAmout"
                  formControlName="inputAmount"
                  placeholder="0 g"
                  required
            />
          </mat-form-field>
          @if (form.get('inputAmount')?.hasError('required') && form.get('inputAmount')?.touched) {
            <span class="text-red-500 text-sm">
              Campo obrigatório
            </span>
          }
          @if (form.get('inputAmount')?.hasError('min') && form.get('inputAmount')?.touched) {
            <span class="text-red-500 text-sm">
              Campo obrigatório
            </span>
          }
        </div>

      <button mat-raised-button (click)="addInput()" color="primary" type="button" class="w-2/5 mx-auto lg:w-full">
        <mat-icon aria-label="Adicionar insumo" fontIcon="add"></mat-icon>Adicionar
      </button>
    </div>

  </form>

  <!-- Insumos adicionados -->
  <div class="flex-1 flex flex-col gap-3 px-10 mx-auto gap-2 w-full">
    <div class="mb-6">
      <h3 class="font-semibold text-gray-700 mb-3">Insumos adicionados:</h3>

      @if (requiredInputs.length === 0) {
        <div class="text-gray-400 italic">
          Nenhum insumo adicionado
        </div>
      }

      @for (input of requiredInputs; track $index) {
        <div class="flex justify-between items-center bg-white shadow-lg rounded-lg px-4 py-2 shadow-sm mb-1 min-h-15">
          <span class="font-medium px-16">
            {{ input.inputName }}
          </span>

          <div class="flex items-center gap-4 px-4">
            <span class="text-gray-400">
              <span class="text-black">{{ input.amount }}</span>/{{input.totalAmount}}
            </span>
            <button *appIfAdmin mat-icon-button color="warn" (click)="removeInput($index)">
              <mat-icon fontIcon="delete"></mat-icon>
            </button>
          </div>
        </div>
      }
        </div>
      </div>
    </div>
  </mat-card>
</div>