--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3 (Debian 16.3-1.pgdg120+1)
-- Dumped by pg_dump version 16.3 (Debian 16.3-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: input_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.input_product (
    amount numeric(15,3) NOT NULL,
    input_id uuid NOT NULL,
    product_id uuid NOT NULL
);


ALTER TABLE public.input_product OWNER TO postgres;

--
-- Name: lgpd_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lgpd_audit (
    processed_at timestamp(6) without time zone,
    entity_id uuid,
    id uuid NOT NULL,
    entity_name character varying(255),
    operation character varying(255),
    reason character varying(255)
);


ALTER TABLE public.lgpd_audit OWNER TO postgres;

--
-- Name: product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product (
    flg_active boolean,
    value numeric(18,2) NOT NULL,
    created_at timestamp(6) without time zone,
    deleted_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    id uuid NOT NULL,
    last_updated_by uuid,
    name character varying(100) NOT NULL
);


ALTER TABLE public.product OWNER TO postgres;

--
-- Name: tb_input; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tb_input (
    amount double precision NOT NULL,
    flg_active boolean,
    created_at timestamp(6) without time zone,
    deleted_at timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    id uuid NOT NULL,
    last_updated_by uuid,
    name character varying(100) NOT NULL
);


ALTER TABLE public.tb_input OWNER TO postgres;

--
-- Name: tb_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tb_user (
    flg_active boolean,
    created_at timestamp(6) without time zone,
    deleted_at timestamp(6) without time zone,
    registration_date timestamp(6) without time zone,
    updated_at timestamp(6) without time zone,
    id uuid NOT NULL,
    last_updated_by uuid,
    login character varying(20) NOT NULL,
    email character varying(150) NOT NULL,
    password character varying(300) NOT NULL,
    roles character varying[]
);


ALTER TABLE public.tb_user OWNER TO postgres;

--
-- Data for Name: input_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lgpd_audit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.lgpd_audit (processed_at, entity_id, id, entity_name, operation, reason) FROM stdin;
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tb_input; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tb_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: input_product input_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input_product
    ADD CONSTRAINT input_product_pkey PRIMARY KEY (input_id, product_id);


--
-- Name: lgpd_audit lgpd_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lgpd_audit
    ADD CONSTRAINT lgpd_audit_pkey PRIMARY KEY (id);


--
-- Name: product product_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_name_key UNIQUE (name);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (id);


--
-- Name: tb_input tb_input_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_input
    ADD CONSTRAINT tb_input_name_key UNIQUE (name);


--
-- Name: tb_input tb_input_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_input
    ADD CONSTRAINT tb_input_pkey PRIMARY KEY (id);


--
-- Name: tb_user tb_user_login_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_user
    ADD CONSTRAINT tb_user_login_key UNIQUE (login);


--
-- Name: tb_user tb_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_user
    ADD CONSTRAINT tb_user_pkey PRIMARY KEY (id);


--
-- Name: input_product fk2taqacdnpwid8j4y9j3xr5xn2; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input_product
    ADD CONSTRAINT fk2taqacdnpwid8j4y9j3xr5xn2 FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: input_product fka9v9lyxvxdd71oyeo92sy7n5m; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.input_product
    ADD CONSTRAINT fka9v9lyxvxdd71oyeo92sy7n5m FOREIGN KEY (input_id) REFERENCES public.tb_input(id);


--
-- Name: product fkerjv0r5two0dpbjw29mevgd75; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT fkerjv0r5two0dpbjw29mevgd75 FOREIGN KEY (last_updated_by) REFERENCES public.tb_user(id);


--
-- Name: tb_input fkl1sh98cwgr66u7gm0jpnl45dr; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_input
    ADD CONSTRAINT fkl1sh98cwgr66u7gm0jpnl45dr FOREIGN KEY (last_updated_by) REFERENCES public.tb_user(id);


--
-- Name: tb_user fksauw2ih9kadnsf2e8p2yf4fr3; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tb_user
    ADD CONSTRAINT fksauw2ih9kadnsf2e8p2yf4fr3 FOREIGN KEY (last_updated_by) REFERENCES public.tb_user(id);


--
-- PostgreSQL database dump complete
--

