<header class="max-w-screen flex justify-start bg-{{props.color}}-800 py-8 object-cover">
  <div class="px-5 lg:px-40 md:px-30 flex w-full flex-row justify-between items-center">
    <div class="flex gap-4 flex-col md:flex-row lg:flex-row">
        <h1 class="text-5xl text-white font-semibold">{{ props.title }}</h1>
        <h1 class="text-4xl text-{{props.color}}-300 h-full font-semibold items-bottom pl-2
                   md:pt-2 lg:pt-2 md:gap-2 lg:gap-2">{{ props.subtitle }}</h1>
    </div>
    <nav class="text-white fond-semibold text-2xl w-full flex justify-end">
        <div class="flex flex-col lg:flex-row">
            <a class="hover:text-yellow-600 hover:underline" routerLink="/pages/inputs">Insumos</a>
            <a class="hover:text-yellow-600 hover:underline lg:ml-7" routerLink="/pages/products">Produtos</a>
            <a (click)="logout()" class="hover:text-yellow-600 hover:underline lg:ml-7 cursor-pointer">Sair</a>
        </div>
    </nav>
  </div>
</header>

<div class="h-full flex flex-col">

    <main class="flex-1">
        <router-outlet></router-outlet>
    </main>

  <footer class="w-full py-10 bg-gray-200 flex justify-center items-center">
    <p>Daniel Neves * <b>Autoflex</b> (2026). Todos os direitos reservados</p>
  </footer>
</div>